In [3]:
import re

def extract_pincode(address):
    # Regex to match a valid Indian PIN code with given conditions
    pattern = r"\b[1-9][0-9]{2}\s?[0-9]{3}\b"

    match = re.search(pattern, address)

    if match:
        print(match.group().replace(" ", ""))  # Remove space if present
    else:
        print("-1")

# Sample Test Case
address = "Flat No. 12B, Green Heights, Mumbai-400076, India"
extract_pincode(address)
# Expected Output: 400076

400076

In [4]:
# Test Case 1
address1 = "Block 21, MG Road, Kolkata 700 001"
extract_pincode(address1)

700001

In [5]:
# Test Case 2
address2 = "XYZ Towers, Bengaluru - 560103"
extract_pincode(address2)

560103

In [6]:
# Test Case 3
address3 = "Near CP, Delhi-110001, Landmark 654321"
extract_pincode(address3)

110001

In [7]:
# Test Case 4
address4 = "Office No. 101, Building XYZ, Bangalore-560102"
extract_pincode(address4)

560102

In [8]:
# Test Case 5
address5 = "Some random text with no pin"
extract_pincode(address5)

-1

In [9]:
# Test Case 6
address6 = "Invalid case: 012345"
extract_pincode(address6)

-1

In [10]:
# Test Case 7
address7 = "Apartment 21, Road No. 4, Pincode 123 456"
extract_pincode(address7)

123456

In [11]:
# Test Case 8
address8 = "A random number 999123456789 in text"
extract_pincode(address8)

-1

In [12]:
# Test Case 9
address9 = "Complex, Block 5, Chennai 600 045"
extract_pincode(address9)

600045

In [13]:
# Test Case 10
address10 = "PINs: 500081, 110092, 400076"
extract_pincode(address10)

500081