In [ ]:
#Q1
whatIf = "The world ends today"
print(len(whatIf) - len("NOT AT ALL"))

10

In [ ]:
#Q2
movies = ["Dune", "Jaws", "Up", "Titanic", "Ratatouille"]
print(movies[-2][3]+movies[-1][-1]+movies[-1][-4]+movies[4][-6]+movies[-5][1])

aeiou

In [ ]:
#Q3
class_strength = {"IT": 70, "ECE": 65, "EEE": 75, "AIML": 50}
class_strength.update({"CSE": 64})
print(class_strength)

{'IT': 70, 'ECE': 65, 'EEE': 75, 'AIML': 50, 'CSE': 64}

In [ ]:
#Q4
event = "Easter at April 20"
L = event.split(" ")
print("#".join(L[::-2]))

20#at

In [ ]:
#Q5
name = "College of Engineering"
print(name[8:11] + "cyc" + name[3] + name[-3:])

of cycling

In [ ]:
#Q6
print(float(5 + int(4.39 + 2.1) % 2))

5.0

In [ ]:
#Q7
print(3*1**3)

3

In [ ]:
#Q8
p, q = 8, 3
p, q, p = p+1, q+5, p+10
print(p,q)

18 8

In [ ]:
#Q9
print(16 // 3 + 3 ** 3 + 15 / 4 - 9)

26.75

In [ ]:
#Q10
t = (2, 4, (6, 8, (10, 12)), 14)
print(t[2][2][0] * t[0] + t[-1])

34